@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Web Scraper</h3>

<p>
    This is a Web scraper application to look for a url and certain keywords in google.com.au.<br /><br />
    The application is designed to look from about maximum 100 searches from google pages.<br /><br />
    It does not use any third party controls(e.g. HtmlAgilityPack, etc.) for the search results.
</p>
